.formControl.error input,
.formControl.error textarea {
	border: solid red 3px;
}

.formControl.error span {
	color: red;
}

.formSummaryError {
	border: gold 1px solid;
	padding: 5px;
	color: gold;
}
